<!DOCTYPE html>
<html>
<head>
  {{ partial "head.html" . }}
</head>
<body>

  {{ partial "header.html" . }}

  {{ partial "global-header.html" . }}
    <main class="container" style="margin-left: calc((100vw - 2*600px - 2*40px)/2);margin-right: auto;">
    {{ range .Data.Pages }}
    <a href="{{ .Permalink }}" style="float: left;margin: 20px;">
        <img alt="{{ .Title }}" src="{{ .Params.cover }}">
        <div class="section-title">
          <h2>{{ .Title }}</h2>
          </div>
      </a>
    {{ end }}
    </main>
  {{ partial "footer.html" . }}

</body>
</html>